<template>
    <div class="container">
        <div class="catalog__model">
          <h2 class="catalog__model__name">{{carModel.name}}</h2>
          <p class="catalog__model__desc">Une voiture intelligente. Elle parle, elle comprend, elle pense et elle
            semble<br> capable de réactions étonnamment humaines.</p>
        </div>
        <div class="catalog__big-image">
            <img :src="require(`../assets/images/${carModel.image}_side.png`)" :alt="carModel.name">
          <div class="catalog__big-image-bg"></div>
        </div>
        <div class="catalog__details">
          <div class="catalog__detail">
            <div class="catalog__detail__title">
              Détails
            </div>
            <div class="catalog__detail__wrapper">
              <div class="catalog__detail__inner">
                <div class="catalog__detail__item catalog__detail__item--small">
                  <div class="catalog__detail__item__title">
                    Energie
                  </div>
                  <div class="catalog__detail__item__text">
                    {{carModel.fuel_type}}
                  </div>
                </div>
                <div class="catalog__detail__item">
                  <div class="catalog__detail__item__title">
                    Transmission
                  </div>
                  <div class="catalog__detail__item__text">
                    {{carModel.transmission}}
                  </div>
                </div>
                <div class="catalog__detail__item">
                  <div class="catalog__detail__item__title">
                    Emissions
                  </div>
                  <div class="catalog__detail__item__text">
                    {{carModel.emission}}
                  </div>
                </div>
              </div>
              <div class="catalog__detail__inner">
                <div class="catalog__detail__item">
                  <div class="catalog__detail__item__title">
                    Passagers
                  </div>
                  <div class="catalog__detail__item__text catalog__detail__item__text--big">
                    {{carModel.seats}}
                  </div>
                </div>
                <div class="catalog__detail__item">
                  <div class="catalog__detail__item__title">
                    Coffre
                  </div>
                  <div class="catalog__detail__item__text catalog__detail__item__text--big">
                    {{carModel.trunk}}
                  </div>
                </div>
                <div class="catalog__detail__item">
                  <div class="catalog__detail__item__title">
                    Puissance
                  </div>
                  <div class="catalog__detail__item__text catalog__detail__item__text--big">
                    {{carModel.average_consumption}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__ages">
            <div class="catalog__ages__inner catalog__age">
              23 ans
            </div>
            <div class="catalog__ages__inner catalog__license">4 ans de permis</div>
          </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "catalogModel",
        props: ['carModel'],
    }
</script>

<style  lang="stylus" scoped>
  .catalog
    &__model
      &__name
        font-family Avenir-Heavy
        font-size 36px
        margin-bottom: 36px

      &__desc
        font-family Avenir-Book
        font-size: 18px

    &__big-image
      margin 0 auto
      width 647px
      position relative
      img
        transform scaleX(-1)
        position relative
        z-index 2
    &__big-image-bg
      position: absolute;
      width 237px
      height 217px
      background: #31e1b8
      right 0
      bottom 15%
      z-index 1
      border-radius 50%
    &__details
      display flex
      justify-content center
      align-items center
      width 100%
      margin-bottom 57px

    &__detail
      background #f6f6f6
      padding 23px 75px 38px 16px
      border-radius 15px
      margin-right: 18px

      &__title
        font-size 24px
        font-family Avenir-Heavy
        margin-bottom 15px

      &__wrapper
        display flex
        flex-direction column
        width 100%

      &__inner
        display flex
        margin-bottom: 21px

        &:last-child
          margin-bottom: 0

      &__item
        width 101px
        margin-right 50px

        &:last-child
          margin-right 0

        &__title
          font-size 12px
          color #000
          opacity .93
          line-height 1.5
          margin-bottom 5px

        &__text
          font-size 12px
          line-height 18px
          font-family Avenir-Heavy

          &--big
            font-size 32px
            font-family Avenir-Heavy
            line-height 1

            span
              font-size 14px

              b
                font-size 18px

    &__ages
      display flex
      flex-direction column

      &__inner
        width 139px
        height 65px
        border-radius 10px
        border 3px solid #31e1b8
        display flex
        justify-content center
        align-items center

    &__age
      font-size 20px
      font-family Avenir-Heavy
      background #31e1b8
      margin-bottom 14px

    &__license
      font-size 12px
      font-family Avenir-Heavy
</style>
