<template>
  <div class="container">
    <div class="catalog__special">
      <h2 class="catalog__small-title">Si particulière ?</h2>
      <span class="catalog__subtitle">
          Parlons d’une toute nouvelle façon d’utiliser votre véhicule.<br>
          Parlons de l'intuition et de l'art d'apprendre chaque jour quelque chose de nouveau.<br>
          Parlons du confort de la Mercedes Classe A…
        </span>
    </div>
    <div class="catalog__special-image">
      <img src="~/assets/images/catalog-img1.png" alt="catalog-img1">
    </div>

    <div class="separator"></div>

    <div class="catalog__item" v-for="(item, index) in catalogItems" :key="index">
      <h2 class="catalog__item__title">{{item.title}}</h2>

      <div class="catalog__item__top">
        <div class="catalog__item-big-image">
          <img :alt="item.bigImage" :src="require(`../assets/images/${item.bigImage}`)">
        </div>
        <div class="catalog__item__top__inner">
          <div class="catalog__item-icon">
            icon
            <span>{{item.icons.icon1}}</span>
          </div>
          <div class="catalog__item-text">
            {{item.innerText.inner1}}
          </div>
        </div>
        <div class="catalog__item__top__inner">
          <div class="catalog__item-icon">
            icon
            <span>{{item.icons.icon2}}</span>
          </div>
          <div class="catalog__item-text">
            {{item.innerText.inner2}}
          </div>
        </div>
      </div>

      <div class="catalog__item__bottom">
        <div class="catalog__item-image">
          <img :alt="item.smallImage" :src="require(`../assets/images/${item.smallImage}`)">
        </div>
        <div class="catalog__item__bottom-inner">
          <div class="catalog__item-icon catalog__item-icon--bottom">
            icon
            <span>{{item.icons.icon3}}</span>
          </div>
          <div class="catalog__item-text catalog__item-text--bottom">
            {{item.bottomText}}
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    props: ['catalogItems'],
    name: "catalogItem",
  }
</script>

<style lang="stylus" scoped>
  .catalog
    &__special
      display flex
      flex-direction column
      margin 0 0 58px 0

    &__small-title
      font-family Avenir-Heavy
      font-size 24px
      margin-bottom 36px
      text-align center

    &__subtitle
      font-size 12px
      font-family Avenir-Medium
      text-align center

    &__special-image
      height 417px
      width 100%
      overflow hidden
      border-radius 10px
      margin 0 0 58px 0
      img
        width 100%
        height 100%
        object-fit cover

    &__item
      &__title
        font-size 36px
        font-family Avenir-Heavy
        letter-spacing 1.16px
        margin-bottom 85px

      &__top
        padding-left 98px
        display flex
        flex-direction column
        margin-bottom 76px

        &__inner
          display flex
          margin-bottom 22px

      &__bottom
        display flex
        margin-bottom 150px

    &__item-big-image
      width 522px
      height 293px
      overflow hidden
      border-radius 10px
      margin-bottom 38px

      img
        width 100%
        height 100%
        object-fit cover

    &__item-image
      width 369px
      height 263px
      border-radius 10px
      overflow hidden
      margin-right: 14px

      img
        width 100%
        height 100%
        object-fit cover


    &__item-icon
      background: #f3f3f3
      width 139px
      height 122px
      border-radius 10px
      display flex
      flex-direction column
      justify-content space-between
      align-items center

      span
        height 32px
        font-size 12px
        font-family Avenir-Heavy
        text-align center

      &--bottom
        margin-bottom 9px

    &__item-text
      max-width 368px
      margin-left 15px

      &--bottom
        margin-left: 0

</style>
