<template>
  <div class="features">
    <div class="container">
      <div class="features__items">
        <div class="features__item">
          <div class="features__ico">
            <img src="~/assets/images/car-ico.svg" alt="Pick a car">
          </div>
          <div class="features__name">{{ $t('features.ico_car.name') }}</div>
          <div class="features__desc">{{ $t('features.ico_car.desc') }}</div>
        </div>
        <div class="features__item">
          <div class="features__ico">
            <img src="~/assets/images/date-ico.svg" alt="Pick your dates">
          </div>
          <div class="features__name">{{ $t('features.ico_dates.name') }}</div>
          <div class="features__desc">{{ $t('features.ico_dates.desc') }}</div>
        </div>
        <div class="features__item">
          <div class="features__ico">
            <img src="~/assets/images/location-ico.svg" alt="Choose a location">
          </div>
          <div class="features__name">{{ $t('features.ico_location.name') }}</div>
          <div class="features__desc">{{ $t('features.ico_location.desc') }}</div>
        </div>
        <div class="features__item">
          <div class="features__ico">
            <img src="~/assets/images/drive-ico.svg" alt="Let’s drive!">
          </div>
          <div class="features__name">{{ $t('features.ico_drive.name') }}</div>
          <div class="features__desc">{{ $t('features.ico_drive.desc') }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>

  .features
    padding-bottom 20px
    &__items
      display flex
      width 100%
      justify-content space-around
      align-items flex-start
    &__item
      max-width 218px
      display flex
      justify-content center
      align-items center
      flex-direction column
      margin-right 12px
      &:last-child
        margin-right 0
    &__ico
      width 55px
      height 55px
      img
        width 100%
        height 100%
        object-fit contain
    &__name
      margin-top 20px
      margin-bottom 19px
      font-family Avenir-Heavy
      font-size 14px
      line-height 19px
      text-align center 
    &__desc
      text-align center
      font-family Avenir-Book
      font-size 12px
      line-height 16px

  @media (max-width 480px)

    .features
      display none

</style>