<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__item">
          <div class="footer__links">
            <a href="https://tooslateam.zendesk.com/hc/fr-fr/articles/360013042520-Conditions-Générales-de-Location" class="footer__link">
              {{ $t('footer_links.terms') }}
            </a>
            <a href="https://tooslateam.zendesk.com/hc/fr-fr/articles/360013755959-Conditions-Générales-d-Assurance" class="footer__link">
              {{ $t('footer_links.insurance') }}
            </a>
            <nuxt-link to="/" class="footer__link">Cookie settings</nuxt-link>
          </div>
        </div>
        <div class="footer__item">
          <div class="menu__lang">
            <nuxt-link class="menu__link" :to="switchLocalePath('en')">
              <img src="~/assets/images/eng-ico.png" style="width: 20px; height: 20px;" alt="">
            </nuxt-link>
            <nuxt-link class="menu__link" :to="switchLocalePath('fr')">
              <img src="~/assets/images/fr-ico.png" style="width: 20px; height: 20px;" alt="">
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="stylus" scoped>
  .footer
    padding 40px 120px
    background #E4E4E4
    &__wrapper
      display flex
      justify-content space-between
    &__item
      margin-right 34px
      &:last-child
        margin-right 0
      a
        display block
        font-family Avenir-light
        font-size 18px
        line-height 24px
        color #9c9c9c
        margin-right 25px
        &:last-child
          margin-right 0
        &:hover
          color #333
      p
        font-family Avenir-Med  ium
        font-size 18px
        line-height 24px
    &__links
      display flex

  @media (max-width 480px)
    .footer
      padding 46px 52px 98px
      &__item
        &:last-child
          display none
        p
          font-size 12px
          line-height 16px
        a
          margin-top 16px
          font-size 12px
          line-height 16px
</style>
