<template>
  <div class="freedom">
    <div class="freedom__wrapper">
      <div class="freedom__image">
        <img src="~assets/images/freedom.png" alt="freedom">
      </div>
      <div class="freedom__text">
        <h2>
          {{ $t('freedom.title') }}
        </h2>
        <p>
          {{ $t('freedom.desc') }}
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  .freedom
    padding 0 50px
    margin-bottom 104px
    &__wrapper
      max-width 781px
      position relative
      margin 0 auto
      border-radius 14px
      overflow hidden
    &__image
      height 506px
      width 100%
    &__text
      position absolute
      bottom 25px
      left 30px
      z-index 2
      color #fff
      h2
        font-family Avenir-Heavy
        line-height 48px
        font-size 36px
        margin-bottom 24px
      p
        font-family Avenir-Medium
        font-size 18px
        line-height 24px
        max-width 430px

  @media (max-width 480px)
    .freedom
      padding 0
      margin-bottom 54px
      &__wrapper
        border-radius 0
      &__image
        height 262px
      &__text
        padding 30px 50px 0
        position relative
        color #000
        left inherit
        bottom inherit
        h2  
          line-height 24px
          font-size 18px
          margin-bottom 6px
        p
          font-family Avenir-Book
          font-size 10px
          line-height 14px
          padding-right 85px
          br
            display none
</style>