<template>
  <div class="mapPopup__google-map">
    <div class="mapPopup__wrapper" ref="googleMap"></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot
        :google="google"
        :map="map"
      />
    </template>
  </div>
</template>

<script>

  import GoogleMapsApiLoader from 'google-maps-api-loader'

  export default {
    name: "GoogleMapLoader",
    props: ['mapConfig', 'mapKey'],
    data() {
      return {
        google: null,
        map: null,
        markers: [],
      }
    },
    async mounted() {
      const googleMapApi = await GoogleMapsApiLoader({
        apiKey: this.mapKey
      })

      this.google = googleMapApi
      this.initializeMap()

    },
    created() {
      for (let i = 0; i < this.$store.state.locations.length; i++) {
        this.markers.push(
          {
            title: this.$store.state.locations[i].title,
            image: this.$store.state.locations[i].image,
            position:{lat: this.$store.state.locations[i].lat, lng: this.$store.state.locations[i].long},
            parking_location: this.$store.state.locations[i].parking_location
          }
        )
      }
    },
    methods: {

      initializeMap() {
        const mapContainer = this.$refs.googleMap

        this.map = new this.google.maps.Map(mapContainer, this.mapConfig)



        for (let i = 0; i < this.markers.length; i++) {

          let pin = this.pin = new this.google.maps.Marker({
            position: this.markers[i].position,
            map: this.map,
            title: this.markers[i].title
          })

          this.pin.addListener('click', function () {
            pinpopup.open(this.map, pin);
          });
          // heh
          let contentString = `
            <div class="pinPopup-content">
                <div class="pinPopup-content__wrapper">
                  <div class="pinPopup-content__title">${this.markers[i].title}</div>
                  <div class="pinPopup-content__location">${this.markers[i].parking_location}</div>
                  <div class="pinPopup-content__image">
                      <img src="${this.markers[i].image}" alt="${this.markers[i].parking_location}">
                  </div>
                </div>
            </div>
            <style>
                 .pinPopup-content {
                    position:relative;
                    width: 520px;
                 }
                 .pinPopup-content__wrapper {
                    width: 100%;
                    height: 100%;
                 }
                 .pinPopup-content__title,
                 .pinPopup-content__location{
                    position: absolute;
                    color: #fff;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    z-index: 150;
                    width: 100%;
                 }
                 .pinPopup-content__title {
                    top: 50%;
                    font-size: 32px;
                    font-weight: bold;
                 }
                 .pinPopup-content__location {
                  font-size: 24px;
                  top: 50%;
                  padding-top: 70px;
                 }
                 .pinPopup-content__image img {
                    margin: 0 0 -3px;
                 }
                 .pinPopup-content__image {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                 }
                 .gm-style .gm-style-iw-c {
                    padding: 0;
                 }
            </style>
          `

          let pinpopup = new this.google.maps.InfoWindow({
            content: contentString
          })

        }




      }

    }
  }
</script>

<style lang="stylus" scoped>
  .mapPopup
    &__google-map
      position relative
      z-index: 13
      width 90%
      height 95%

    &__wrapper
      width: 100%
      height: 100%
</style>
