<template>
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="menu">
          <div class="logo">
            <nuxt-link to="/">
              <img src="~/assets/images/logo.svg" alt="logo">
            </nuxt-link>
          </div>
          <div class="menu__wrapper">
            <nuxt-link to="/catalog" class="menu__link menu__link--catalog">
              {{ $t('header__links.catalog') }}
            </nuxt-link>
            <nuxt-link to="/location" class="menu__link menu__link--location">
              {{ $t('header__links.location') }}
            </nuxt-link>
          </div>
        </div>
        <div class="menu__lang">
          <nuxt-link class="menu__link" :to="switchLocalePath('en')">
            <img src="~/assets/images/eng-ico.png" style="width: 20px; height: 20px;" alt="">
          </nuxt-link>
          <nuxt-link class="menu__link" :to="switchLocalePath('fr')">
            <img src="~/assets/images/fr-ico.png" style="width: 20px; height: 20px;" alt="">
          </nuxt-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>

export default {

}
</script>

<style lang="stylus">

  .header
    position absolute
    z-index: 10;
    top 0
    width 100%
    height: 95px
    &__wrapper
      padding 15px 0 0 0
      display flex
      align-items center

  .logo
    width 66px
    height 18px
    margin-right 90px

  .menu
    display flex
    align-items baseline
    width 100%
    &__wrapper
      display flex
    &__lang
      display flex
      margin-right 20px
      a
        margin-right 10px
        &:last-child
          margin-right 0
    &__link
      font-size 14px
      line-height 19px
      font-family Avenir-Heavy
      &--about
        margin-right 35px
      &--help
        margin-right 52px
      &--catalog
        margin-right 52px

  @media (max-width 768px)

    .header
      padding 25px 0 0 0

    .menu__wrapper
      display none

    .menu
      width 100%
      justify-content center
      &__lang
        position relative
        z-index 2
    .logo
      margin-right 0
      width 140px
      height initial

</style>
