<template>
  <div class="hero">
    <div class="container">
        <h1 class="title">
          {{ $t('hero.title') }}
        </h1>
      <h2 class="subtitle">
        {{ $t('hero.subtitle')}}
      </h2>
      <div class="app-buttons">
        <a href="#" class="app-button app-button--ios-white">
          <img src="~/assets/images/Apple.svg" alt="ios logo">
          GET IT ON THE APP STORE
        </a>
        <a href="#" class="app-button app-button--android">
          <img src="~/assets/images/download-android-2.png" alt="download android">
        </a>
      </div>
    </div>
  </div>
</template>

<style  lang="stylus" scoped>

  .hero
    padding-top 80px
    display flex
    align-items center
    max-height 722px
    width 100%
    height 722px
    background url('./../assets/images/hero-bg.png') no-repeat right top
    background-size contain

  .title
    font-family Avenir-Heavy
    font-size 45px
    line-height 60px
    margin-top 120px
    margin-bottom 45px

  .subtitle
    font-family Avenir-Book
    font-size 22px
    line-height 30px
    margin-bottom 30px

  @media (max-width 768px)

    .container
      padding 0 50px

    .hero
      padding 0
      background url('./../assets/images/hero-mob-bg.png') no-repeat right 40%
      background-size contain

    .title
      font-size 24px
      line-height 32px
      font-family Avenir-Heavy
      margin-bottom 20px

    .subtitle
      font-size 12px
      line-height 16px
      font-family Avenir-Book

    &__items
      display flex
      width 100%
      justify-content space-around
      align-items flex-start
    &__item
      max-width 218px
      display flex
      justify-content center
      align-items center
      flex-direction column
      margin-right 12px
      &:last-child
        margin-right 0
    &__ico
      width 55px
      height 55px
      img
        width 100%
        height 100%
        object-fit contain
    &__name
      margin-top 20px
      margin-bottom 19px
      font-family Avenir-Heavy
      font-size 14px
      line-height 19px
      text-align center
    &__desc
      text-align center
      font-family Avenir-Book
      font-size 12px
      line-height 16px

</style>
