<template>
  <div class="container">
    <div class="information">
      <h2>
        {{ $t('information.title') }}
      </h2>
      <a href="#" class="app-button app-button--ios">
        <img src="~/assets/images/Apple.svg" alt="ios logo">
        GET IT ON THE APP STORE
      </a>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>
  .information
    background #31E1B8
    border-radius 14px
    padding 23px 80px
    display flex
    align-items center
    justify-content center
    h2
      font-family Avenir-Medium
      font-size 18px
      line-height 24px
      margin-right 40px
  @media (max-width 768px)
    .information
      padding 15px 25px
  @media (max-width 480px)
    .information
      padding 0
      margin 0 50px
      h2
        display none
      .app-button--ios
        border none
        width 100%
        max-width 100%
        justify-content center
        font-size 11px
        line-height 15px
</style>