<template>

  <div class="looking">

    <div class="container">

      <h2 class="looking__title">
        {{ $t('looking.title') }}
      </h2>
      <h3 class="looking__subtitle">
        {{ $t('looking.subtitle') }}
      </h3>
      <div class="looking__wrapper">
        <div class="looking__images">
          <div class="looking__image looking__image--large">
            <img src="~/assets/images/mob.png" alt="">
          </div>
          <div class="looking__image looking__image--small">
            <img class="looking__image looking__image--small" src="~/assets/images/mob.png" alt="">
          </div>
        </div>
        <div class="looking__text">
          <h3>
            {{ $t('looking.text.title') }}
          </h3>
          <p>
            {{ $t('looking.text.desc') }}
          </p>
        </div>
      </div>
    
    </div>

  </div>
</template>

<style lang="stylus" scoped>
  .looking
    margin 76px 0 134px
    &__title
      font-family Avenir-Heavy
      font-size 30px
      line-height 40px
      margin-bottom 16px
    &__subtitle
      font-family Avenir-Medium
      font-size 18px
      line-height 24px
    &__wrapper
      display flex
      align-items center
      justify-content center
      margin-top 130px
    &__images
      position relative
      display flex
      align-items flex-end
      margin-right 46px
    &__image
      &--large
        height 308px
        margin-right 30px
      &--small
        margin-top 30px
        height 200px
        img
          object-fit contain
    &__text
      position relative
      h3
        font-family Avenir-Heavy
        font-size 36px
        line-height 48px
        position absolute
        top: -60px
        left: -90px
      p
        font-family Avenir-Medium
        font-size 14px
        line-height 19px
        max-width 281px

  @media (max-width 480px)
    .looking
      padding 0 50px
      margin 72px 0
      &__title
        font-size 24px
      &__subtitle
        font-family Avenir-Book
        font-size 12px
        line-height 15px
      &__wrapper
        align-items flex-start
        margin-top 20px
      &__images
        margin-right 20px
      &__image
        &--large
          height 222px
          width 102px
          margin-right 0
        &--small
          display none
      &__text
        margin-top 40px
        h3
          position relative
          top inherit
          left inherit
          font-size 18px
          line-height 24px
          margin-bottom 6px
        p
          font-size 10px
          line-height 14px
</style>