<template>
  <div class="mapPopup">
    <div class="mapPopup__fade" v-on:click="closeMapPopup"></div>

    <TravelMap />

  </div>
</template>

<script>


  import TravelMap from "./TravelMap";
  export default {
    name: "mapPopup",
    components: {TravelMap},
    methods: {
      closeMapPopup: function () {
        this.$emit('closeMapPopup', this.openMapPopup = false);
      }
    },
    data() {
      return {
        list: null,
        metro_access: [],
      }
    },
  }
</script>

<style lang="stylus" scoped>

  .mapPopup
    display: flex
    justify-content: center
    align-items center
    width 100%

  .mapPopup
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    z-index 11
    padding 20px
    overflow hidden
    display flex
    justify-content center
    align-items center

    &__fade
      position absolute
      background rgba(#333, .4)
      z-index 12
      top 0
      left 0
      width 100%
      height 100%
      cursor pointer

</style>
