<template>
  <div class="meticulous">
    <div class="container">
      <h2 class="meticulous__title">
        {{ $t('meticulous.title') }}
      </h2>
      <div class="meticulous__wrapper">
        <div class="meticulous__image">
          <img src="~assets/images/meticulous1.png" alt="meticulous">
        </div>
        <div class="meticulous__text">
          <p>
            {{ $t('meticulous.desc') }}
          </p>
        </div>
        <div class="meticulous__decoration">
          <img src="~assets/images/meticulous2.png" alt="decoration">
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  .meticulous
    margin-bottom 234px
    &__title
      text-align center
      font-family Avenir-Heavy
      font-size 30px
      line-height 40px
      margin-bottom 25px
    &__wrapper
      max-width 781px
      margin 0 auto
      display flex
    &__image
      flex-shrink 0
      border-radius 14px
      max-width 460px
      width 100%
      max-height 287px
      margin-right 15px
    &__text
      p
        font-family Avenir-Medium
        font-size 14px
        line-height 19px
        max-width 306px
    &__decoration
      max-width 587px
      max-height 147px
      position absolute
      top calc(100% - 40px)
      right calc(50% - 40px)
      transform translateX(50%)

  @media (max-width 480px)
    .meticulous
      margin-bottom 134px
      &__wrapper
        flex-direction column
      &__image
        width 219px
        height 136px
        margin 0
      &__decoration
        margin-top 8px
        position relative
        top inherit
        display flex
        width 240px
        height 60px
        right inherit
        transform inherit
        align-self flex-end
      &__text
        position absolute
        bottom calc(0% - 100px)
        padding 0 50px 0 80px
        p
          font-family Avenir-Book
          font-size 10px
          line-height 14px
</style>