<!--suppress ALL -->
<template>
  <div class="models">
    <div class="container">
      <div class="models__title">
        {{ $t('models.title') }}
      </div>
      <div class="models__subtitle">
        {{ $t('models.subtitle') }}
      </div>
    </div>
    <div class="models__slider">
      <div class="models__slider__wrapper">
        <div class="container">

          <swiper :options="swiperOptions" ref="mySwiper">
            <swiper-slide :key="car.id" v-for="car in $store.state.cars">
              <div class="models__item"
                   v-on:click="getCar(car)">
                <div class="models__image">
                  <img :src="require(`../assets/images/${car.image}.png`)" :alt="car.image">
                </div>
                <h2 class="models__name">{{car.name}}</h2>
                <div class="models__info">
                  <div class="models__brand">
                    <img :alt="car.brand" :src="require(`../assets/images/${car.brand}.png`)">
                  </div>
                  <div class="models__dot"></div>
                  <div class="models__class">{{car.category}}</div>
                </div>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination" style="margin: 28px 0 0 0; position: relative;"></div>
          </swiper>

        </div>
      </div>
      <div class="models__arrows">
        <div class="models__arrow models__arrow--prev"><img alt="next" src="~/assets/images/arrow-prev.svg"></div>
        <div class="models__arrow models__arrow--next"><img alt="next" src="~/assets/images/arrow-next.svg"></div>
      </div>
    </div>
    <Popup
      :carPopup="carPopup"
      :openPopup="openPopup"
      @popupClose="closePopup()"
    />
  </div>

</template>


<script>

  import Popup from './popup'
  import {Swiper, SwiperSlide} from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'

  export default {
    components: {
      Swiper,
      SwiperSlide,
      Popup
    },
    data() {
      return {
        carPopup: {},
        openPopup: false,
        swiperOptions: {
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },
          navigation: {
            nextEl: '.models__arrow--next',
            prevEl: '.models__arrow--prev',
          },
          fadeEffect: {
            crossFade: true
          },
          initialSlide: 0,
          slidesPerView: 1,
          spaceBetween: 16,
          centeredSlides: true,
          wrapperClass: 'swiper-wrapper',
          breakpoints: {
            480: {
              slidesPerView: 3,
            },
          }
        }
      }
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.$swiper
      }
    },
    methods: {

      getCar(item) {
        this.openPopup = true
        this.carPopup = item
      },
      closePopup() {
        this.openPopup = false
      }
    },
    mounted() {
      this.swiper.slideTo(3, 1000, false)
    }
  }
</script>

<style lang="stylus" scoped>
  .models
    margin-bottom 76px
    position relative

    &__title
      font-family Avenir-Heavy
      font-size 30px
      line-height 40px
      margin-bottom 8px

    &__subtitle
      font-family Avenir-Medium
      font-size 18px
      line-height 24px
      margin-bottom 88px

    &__slider
      max-width 754px
      margin 0 auto
      position relative

    &__arrows
      position absolute
      top calc(50% - 80px)
      width 100%
      z-index 2
      display none
      justify-content space-between

    &__arrow
      position absolute
      border-radius: 14px
      background-color: rgba(#d8d8d8, 0.12)
      width: 80px
      height: 118px
      display flex
      justify-content center
      align-items center
      cursor pointer

      img
        width 10px
        height 20px

      &--prev
        left 0

      &--next
        right 0

    &__item
      margin 0 auto
      border-radius 14px
      display flex
      text-align center
      flex-direction column
      align-items center
      justify-content center
      cursor pointer

    &__name
      font-family Avenir-Heavy
      font-size 12px
      text-align center
      margin-bottom 10px

    &__info
      display flex
      align-items center

    &__brand
      max-height 12px
      display flex
      align-items center

    &__dot
      width 5px
      height 5px
      border-radius 50%
      background #000
      margin 0 5px

    &__class
      font-family Avenir-Light
      font-size 11px
      letter-spacing 0.57px

  .swiper-slide
    .models
      &__item
        background rgba(#d8d8d8, 0.2)
        padding 0 0 16px
        max-width: 216px


  .swiper-slide-active
    .models
      &__item
        background rgba(#d8d8d8, 0.25)
        padding 7px 0 27px
        max-width: 291px

  .swiper-wrapper
    align-items center

  @media (max-width 480px)
    .models
      margin-bottom 48px

      &__title
        font-size 24px
        line-height 1
        margin-bottom 10px
        padding 0 35px

      &__subtitle
        padding 0 35px
        font-family Avenir-Book
        font-size 10px
        line-height 1
        margin-bottom 38px

      &__slider
        &__wrapper
          padding 0 35px

      &__arrows
        display flex

    .swiper-slide-active
      .models
        &__item
          max-width 201px
          padding 0 0 10px
</style>
