<template>
  <div class="popup" v-if="openPopup">
    <div class="popup__fade" v-on:click="popupClose"></div>
    <div class="popup__wrapper">
      <div class="popup__head">
        <div class="car-info">
          <div class="car-info__item">
<!--            <img :src="require(`../assets/images/${carPopup.brand}.png`)" :alt="carPopup.brand">-->
            <span>{{carPopup.category}}</span>
          </div>
          <p class="car-info__name">{{carPopup.name}}</p>
        </div>
        <div class="label-image">
<!--          <img :src="require(`../assets/images/${carPopup.image}.png`)" :alt="carPopup.image">-->
        </div>
      </div>
      <div class="popup__body">
        <div class="popup__menu">
          <span class="popup__menu__item popup__menu__item--active">Description</span>
          <span class="popup__menu__item" style="opacity: 0">Détails</span>
          <span class="popup__menu__item" style="opacity: 0">Options</span>
        </div>
        <div class="popup__items">
          <div class="popup__item">
            <div class="energy">
              <span>Énergie</span>
              <p>{{carPopup.fuel_type}}</p>
            </div>
            <div class="transmission">
              <span>Transmission</span>
              <p>{{carPopup.transmission}}</p>
            </div>
          </div>
          <div class="popup__separator"></div>

          <div class="popup__item">
            <div class="age">
              <span>Age</span>
              <p>{{carPopup.require_age}} ans</p>
            </div>
            <div class="experience">
              <span>Experience</span>
              <p>{{carPopup.driver_obligations}} ans</p>
            </div>
          </div>
          <div class="popup__separator"></div>
          <div class="popup__item">
            <div class="passagers">
              <span>Passagers</span>
              <p>{{carPopup.seats}}</p>
            </div>
            <div class="category">
              <span>Category</span>
              <p>{{carPopup.category}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['carPopup', 'openPopup'],
  methods: {
    popupClose: function() {
      this.$emit('popupClose', this.openPopup = false);
    }
  }
}
</script>

<style lang="stylus" scoped>
  .popup
    position fixed
    width 100%
    height 100%
    z-index 997
    top 0
    left 0
    &__fade
      background rgba(#000, .8)
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 998
      cursor pointer
    &__wrapper
      border-radius 5px
      background #fff
      position relative
      width 375px
      top 50%
      left 50%
      transform translate(-50%, -50%)
      z-index 999
      box-shadow 0 5px 25px 10px rgba(#000, .2)
    &__separator
      background #31e1b8
      height 2px
      opacity 0.36
      width 80%
      margin-bottom 30px
    &__head
      height 408px
      overflow hidden
      position relative

    &__body
      padding 0 50px
    &__menu
      display flex
      justify-content space-between
      align-items center
      margin-bottom 44px
      &__item
        font-size 18px
        opacity 0.65
        font-weight 900
        cursor pointer
        &--active
          font-size 24px
          opacity 1
          padding-bottom 5px
          border-bottom 2px solid #31e1b8
    &__items
      display flex
      flex-direction column
      align-items center
      justify-content center
    &__item
      display flex
      justify-content space-between
      margin-bottom 25px
      font-size 12px
      line-height 1.5
      width 100%
      span
        font-family Avenir-Book
      p
        font-family Avenir-Heavy
        text-transform capitalize
      .age, .experience
        p
          font-size 18px
          color #31e1b8
          text-transform inherit
      .passagers, .category
        p
          font-size 36px
          font-family Avenir-Heavy
    .car-info
      position absolute
      top 30px
      left 20px
      &__item
        height 9px
        display flex
        align-items center
        img
          width inherit
          object-fit contain
        span
          font-size 12px
          font-weight 300
          letter-spacing 0.62px
          margin-left 10px
          text-transform uppercase
      &__name
        position relative
        top 12px
        font-size 28px
        font-weight 900

    .label-image
      position absolute
      top 0
      right -70%
      img
        object-fit contain
</style>
