<template>
  <div class="rent">
    <div class="rent__fade"></div>
    <div class="container">
        <h2 class="rent__title">
          {{ $t('rent.title') }}
        </h2>
        <h3 class="rent__subtitle">
          {{ $t('rent.subtitle') }}
        </h3>
      <div class="rent__wrapper">
        <div class="rent__items">
          <div class="rent__item">
            <div class="rent__image">
              <img src="~/assets/images/rent-img1.png" alt="Promesse de qualité">
            </div>
            <div class="rent__name">
              {{ $t('rent.promise.name') }}
            </div>
            <div class="rent__desc">
              {{ $t('rent.promise.desc') }}
            </div>
          </div>
          <div class="rent__item">
            <div class="rent__image">
              <img src="~/assets/images/rent-img2.png" alt="Promesse de qualité">
            </div>
            <div class="rent__name">
              {{ $t('rent.digital.name') }}
            </div>
            <div class="rent__desc">
              {{ $t('rent.digital.desc') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>

  .rent
    position relative
    margin-bottom 99px
    &__fade
      height 233px
      width 100%
      position absolute
      top 0
      background-image linear-gradient(to bottom, rgba(59, 59, 59, 0.16), rgba(255, 255, 255, 0) 86%)
    &__title
      padding-top 83px
      font-size 30px
      line-height 40px
      font-family Avenir-Heavy
    &__subtitle
      margin-top 8px
      margin-bottom 46px
      font-size 18px
      line-height 24px
      font-family Avenir-Medium
    &__wrapper
      display flex
      justify-content center
      flex-direction column
      margin 0 auto
      max-width 600px
    &__items
      display flex
      justify-content space-between
      align-items flex-start
    &__item
      max-width 291px
      margin-bottom 10px
      &:last-child
        margin-right 0
    &__image
      width 100%
      height 220px
      border-radius 10px
      overflow hidden
      img
        width 100%
        height 100%
        object-fit cover
    &__name
      font-family Avenir-Heavy
      font-size 24px
      line-height 32px
      margin-bottom 11px
      margin-top 24px
    &__desc
      font-size 12px
      line-height 16px
      font-family Avenir-Medium

  @media (max-width 768px)

    .rent
      margin-bottom 80px
      &__title, &__subtitle
        padding 0 50px
      &__items
        flex-wrap: wrap
        justify-content center
      &__item
        padding 0 10px
      &__wrapper
        max-width inherit

  @media (max-width 480px)

    .rent
      &__wrapper
        flex-direction column
        align-items center
      &__title
        padding 0 0 0 50px
        font-size 24px
        line-height 1.2
      &__subtitle
        padding 0 0 0 50px
        font-size 12px
        line-height 15px
        font-family Avenir-Book
      &__item
        margin-right 0

</style>
