<template>

  <div class="main-wrapper">
    <Header/>
    <transition name="fade" mode="out-in" appear>
      <nuxt/>
    </transition>
    <Footer/>
  </div>

</template>
<script>

  import Footer from '~/components/footer.vue'
  import Header from '~/components/header'


export default {
  components: {
    Header,
    Footer
  }
}
</script>
<style lang="stylus">

  html,body
    scrollbar-width none /* Firefox */
    -ms-overflow-style none /* IE 10+ */
    ::-webkit-scrollbar
      display none /* WebKit */
      width 0px /* WebKit */
    // scroll-behavior smooth
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    font-family Avenir-Roman,sans-serif
    height 100%
    width 100%
    box-sizing border-box
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

  *,
  *:before,
  *:after
    box-sizing: border-box
    margin 0
    padding 0

  .container
    width: 100%
    max-width 1410px
    margin 0 auto
    height: 100%
    position: relative

  img
    height 100%
    width 100%
    object-fit cover

  button, input, textarea
    font-family inherit
    margin 0
    padding 0
    background transparent
    border 0

  span
    color inherit

  a
    color inherit
    text-decoration none
    transition color .5s ease
    &:hover
      color: #31E1B8

  // fix slider wrapper
  .swiper-wrapper
    align-items center

  .swiper-pagination-bullet-active
    background #4C4C4C!important

  // fix slider wrapper END


  .app-buttons
    display flex
    margin-bottom 140px

  .app-button
    border 1px solid #BFBFBF
    margin-right 10px
    border-radius 10px
    height 43px
    &:last-child
      margin-right 0
    &--android
      width 144px
      overflow hidden
      display block
      img
        width 100%
        height 100%
        object-fit cover
    &--ios-white
      background #fff
    &--ios
      border 1px solid #000
    &--ios, &--ios-white
      text-transform uppercase
      font-family Avenir-Medium
      font-size 11px
      line-height 15px
      padding 13px 21px
      transition all .5s ease
      display flex
      align-items center
      &:hover
        color #fff
        background #31e1b8
      img
        width 15px
        height 18px
        margin-right 13px
        object-fit cover

  .main-wrapper
    display flex
    flex-direction column


  .fade-enter-active, .fade-leave-active
    transition opacity .5s
  .fade-enter, .fade-leave-to
    opacity 0


  @media (max-width 1400px)
    .container
      max-width 1170px

  @media (max-width 1200px)
    .container
      max-width 970px

  @media (max-width 970px)
    .container
      max-width none
      padding 0 15px
      box-sizing border-box

  @media (max-width 768px)
    .app-buttons
      flex-direction column
      margin-bottom 0

    .app-button
      max-width 204px
      height 41px
      font-family Avenir-Medium
      font-size 11px
      line-height 15px
      margin-right 0
      &--ios-white
        padding 0 10px
        line-height 1
        margin-bottom 13px

  @media (max-width 480px)
    .app-buttons
      margin-top 270px

</style>

