<template>
  <div class="container">
    <h1>error</h1>
    <h2>invalid route</h2>
    <nuxt-link to="/" tag="a">Home page</nuxt-link>
  </div>
</template>

<style lang="stylus" scoped>
  .container
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100%
    flex-direction column
  h1, h2
    font-family Avenir-Heavy
    letter-spacing 0.03em
    text-transform uppercase
  a
    margin-top 25px
    font-family Avenir-Light
    text-decoration none
    color #bfcccc
</style>