<template>
  <div class="catalog">

    <div class="container">
      <ul class="catalog__cars">

        <li
          class="catalog__car"
          v-on:click="getCarInfo(index, ...car)"
          v-for="(car, index) in $store.state.cars"
          :key="index"
          :class="{ 'catalog__car--active': index === activeItem}"
        >
          {{car.name}}
        </li>
      </ul>
    </div>

    <catalogModel
      :carModel="carInfo"
    />

    <div class="separator"></div>

<!--    <catalogItem-->
<!--      :catalogItems="catalogItems"-->
<!--    />-->

    </div>
</template>

<script>

  import catalogModel from '~/components/catalogModel'
  // import catalogItem from '~/components/catalogItem'

  export default {
    name: "catalog",
    data() {
      return {
        catalogItems: [
          {
            title: 'Plus sure.',
            bigImage: 'catalog-img2.png',
            icons: {
              icon1: 'Drive assist',
              icon2: 'Affichage tête haute',
              icon3: 'Feux Multibeam',
            },
            innerText: {
              inner1: 'Mettez le cap sur la conduite autonome : des systèmes ultramodernes vous assistent efficacement quand vous modifiez la vitesse, braquez, changez de file, et même en cas de risque de collision. Le risque d’accident diminue – les passagers et les usagers de la route sont mieux protégés.',
              inner2: 'Détecteur de panneaux de signalisation : La caméra et les données de navigation permettent d’être toujours informé des limitations de vitesse. Même quand les panneaux sont nombreux, vous connaissez la vitesse à ne pas dépasser. Comme le système vous informe en continu, le risque de dépassement des limitations diminue. Cela améliore non seulement le confort, mais aussi la sécurité lors de la conduite quotidienne.'
            },
            smallImage: 'catalog-img3.png',
            bottomText: 'Une visibilité parfaite : les phares MULTIBEAM LED adaptatifs réagissent aux conditions de circulation grâce à des LED pilotables séparément. Les feux de route partiels n\'éblouissent pas les autres usagers. L\'éclairage d\'intersection et l\'éclairage dans les virages éclairent de façon optimale votre champ de vision et vous permettent de détecter les dangers plus rapidement.'
          },
          {
            title: 'Plus confortable.',
            bigImage: 'catalog-img4.png',
            icons: {
              icon1: 'Eclairage d’ambiance',
              icon2: 'Toit ouvrant',
              icon3: 'Climatisation auto Thermométrique',
            },
            innerText: {
              inner1: 'Mettez en scène l\'espace intérieur en fonction de vos préférences personnelles ou selon votre humeur du moment. Les 64 coloris de l\'éclairage d\'ambiance créent une atmosphère fascinante en sublimant notamment les buses de ventilation, les portes ou la planche de bord.',
              inner2: 'Découvrez le plaisir de la conduite à ciel ouvert, presque comme dans un cabriolet ou un roadster ! Pour cela, il vous suffit d’ouvrir le toit ouvrant panoramique comme bon vous semble. Même fermé, ce toit transparent baigne l’habitacle de lumière. Bonne humeur garantie !'
            },
            smallImage: 'catalog-img5.png',
            bottomText: 'Le climatiseur automatique THERMATIC régule la température que vous avez sélectionnée. Quelles que soient la saison et la température extérieure, vous vous sentez toujours bien à bord. Votre concentration reste maximale, même au plus chaud de l’été.'
          },
          {
            title: 'Plus technophile.',
            bigImage: 'catalog-img6.png',
            icons: {
              icon1: 'Parking assist',
              icon2: 'Recharge sans fil',
              icon3: 'Intégration par smartphone',
            },
            innerText: {
              inner1: 'Oubliez le stress causé par les places de stationnement étroites et gagnez en sérénité. L\'assistant de stationnement actif avec PARKTRONIC peut non seulement repérer des places de stationnement adaptées, mais aussi vous aider à vous garer et à vous réinsérer dans le trafic.',
              inner2: 'Mettez à profit la durée du trajet pour recharger votre téléphone ! Un geste suffit pour installer votre smartphone à son emplacement attitré.\n',
            },
            smallImage: 'catalog-img6.png',
            bottomText: 'Grâce à l’intégration pour smartphone, le téléphone portable s’intègre au système média par l’intermédiaire d’Apple® CarPlay® ou d’Android Auto®. Vous pouvez ainsi accéder en tout confort aux principales applications de votre smartphone.'
          },
        ],
        carInfo: {
          image: 'bmw_x2',
          name: 'X2 MSport',
          fuel_type: 'diesel',
          transmission: 'automatic',
          category: 'suv',
          seats: 5,
          average_consumption: null,
          trunk: null,
          emission: null
        },
        activeItem: 0
      }
    },
    methods: {
      getCarInfo (index, item ) {
        this.activeItem = index;
        this.carInfo = item
      }
    },
    components: {
      catalogModel,
      // catalogItem
    }
  }

</script>

<style lang="stylus" scoped>

  .separator
    height: 2px
    background: #000
    opacity: .2
    width: 100%
    max-width 781px
    margin: 0 auto 58px

  .catalog
    margin-top 138px

    &__cars
      display flex
      justify-content center
      align-items center
      margin-bottom 83px

    &__car
      color #000
      opacity 0.7
      font-family Avenir-Book
      font-size 18px
      margin-right 35px
      cursor pointer

      &:last-child
        margin-right 0

      &--active
        font-style 22px
        font-family Avenir-Heavy
        opacity 1


</style>
