<template>
  <div>
    <Hero/>
    <Features />
    <Rent />
    <Models />
    <InformationBanner />
    <Looking />
    <Freedom />
    <Meticulous />
  </div>
</template>

<script>

  import Hero from '~/components/hero'
  import Features from '~/components/features'
  import Rent from '~/components/rent'
  import Models from '~/components/models'
  import InformationBanner from '~/components/informationBanner'
  import Looking from '~/components/looking'
  import Freedom from '~/components/freedom'
  import Meticulous from '~/components/meticulous'

  export default {
    name: 'index',
    components: {
      Hero,
      Features,
      Rent,
      Models,
      InformationBanner,
      Looking,
      Freedom,
      Meticulous,
    }
  }

</script>
