<template>
  <div class="location">

    <mapPopup
      v-if="openMapPopup"
      @closeMapPopup="closePopup()"
    />

    <div class="container">
      <div class="location__wrapper">

        <div class="location__header">

          <div class="location__title">
            <span>Liste</span>
          </div>
          <div class="location__map">
            <span v-on:click="clickMap()">map</span>
          </div>
        </div>
        <div class="location__search">
          <input type="text" v-model="search" placeholder="Champs Elysees, Rome...">
        </div>

        <template v-if='$route.path == "/en/location"'>

            <div class="location__list" v-for="(item, index) in filteredList_en" :key="index">
            <p
              class="location__item-title"
            >
              {{item.title_en}}
            </p>
            <div class="location__item-address">
              <address>
                {{item.address_en| getAddress }}
              </address>
            </div>
            <div class="location__item-info">

              <div class="location__item-info__icon"
                   v-if="item.metro_access != null"
              >
                <img src="~/assets/images/metro_logo_alpha@3x.png" :alt="item.metro_access">
                <img
                  v-for="(number, index) in item.metro_access.split(',')" :key="index"
                  :src="require(`../assets/images/ligne_${Number(number)}@3x.png`)" :alt="number"
                >
              </div>
              <span v-else></span>

              <div class="location__item-info__icon"
                   v-if="item.rer_access != null"
              >
                <img src="~/assets/images/rer_logo@3x.png" :alt="item.rer_access">
                <img
                  v-for="(letter, index) in item.rer_access.split(',')" :key="index"
                  :src="require(`../assets/images/${String(letter)}@3x.png`)" :alt="letter"
                >
              </div>
              <span v-else></span>

              <div class="location__item-info__bus"
                   v-if="item.bus_access != null"
              >
                <div class="location__item-info__bus-icon">
                  <img src="~/assets/images/bus@3x.png" :alt="item.bus_access">
                </div>
                Lignes {{item.bus_access}}
              </div>
              <span v-else></span>
            </div>
            <div class="location__item-button">
            </div>
            <div class="separator"></div>
          </div>

        </template>
        <template v-else>

            <div class="location__list" v-for="(item, index) in filteredList_fr" :key="index">
            <p
              class="location__item-title"
            >
              {{item.title_fr}}
            </p>
            <div class="location__item-address">
              <address>
                {{item.address_fr| getAddress }}
              </address>
            </div>
            <div class="location__item-info">

              <div class="location__item-info__icon"
                   v-if="item.metro_access != null"
              >
                <img src="~/assets/images/metro_logo_alpha@3x.png" :alt="item.metro_access">
                <img
                  v-for="(number, index) in item.metro_access.split(',')" :key="index"
                  :src="require(`../assets/images/ligne_${Number(number)}@3x.png`)" :alt="number"
                >
              </div>
              <span v-else></span>

              <div class="location__item-info__icon"
                   v-if="item.rer_access != null"
              >
                <img src="~/assets/images/rer_logo@3x.png" :alt="item.rer_access">
                <img
                  v-for="(letter, index) in item.rer_access.split(',')" :key="index"
                  :src="require(`../assets/images/${String(letter)}@3x.png`)" :alt="letter"
                >
              </div>
              <span v-else></span>

              <div class="location__item-info__bus"
                   v-if="item.bus_access != null"
              >
                <div class="location__item-info__bus-icon">
                  <img src="~/assets/images/bus@3x.png" :alt="item.bus_access">
                </div>
                Lignes {{item.bus_access}}
              </div>
              <span v-else></span>
            </div>
            <div class="location__item-button">
            </div>
            <div class="separator"></div>
          </div>
        </template>

      </div>
    </div>
  </div>
</template>

<script>

    import mapPopup from './../components/mapPopup'

    export default {
        name: "location",
        data() {
          return {
            list: null,
            metro_access: [],
            openMapPopup: false,
            search: ''
          }
        },
        components: {
          mapPopup
        },
        computed: {
          filteredList_en() {
            const s = this.search.toLowerCase();
            return this.list.filter(n => n.title_en.split().some(m => m.toString().toLowerCase().includes(s)));
          },
          filteredList_fr() {
            const s = this.search.toLowerCase();
            return this.list.filter(n => n.title_fr.split().some(m => m.toString().toLowerCase().includes(s)));
          }
        },
        filters: {
          getAddress: function (value) {
            if (!value) return 'err'
            value = JSON.parse(value)
            return value.address
          }
        },
        methods: {
          clickMap () {
            this.openMapPopup = true
          },
          closePopup() {
            this.openMapPopup = false
          }
        },
      created() {
        this.list = this.$store.state.locations
      }
    }
</script>

<style lang="stylus" scoped>
  .separator
    width 380px
    height 2px
    opacity 0.36
    border solid 1px #767676
    margin-top 30px
  .location
    margin-top 138px
    margin-bottom 150px
    &__map
      span
        cursor pointer

    &__wrapper
      max-width 380px
    &__header
      display flex
      justify-content space-between
      align-items center
      margin-bottom 36px
    &__title
      font-family Avenir-Heavy
      font-size 20px
      span
        border-bottom 1px solid #31e1b8

    &__list
      padding 30px 0 0 0

    &__item-title
      font-size 18px
      font-family Avenir-Heavy
      margin-bottom 16px

    &__search
      input
        padding: 11px 0
        border-bottom 1px solid #767676
        width 100%
        font-family Avenir-Light
        font-size 12px
        letter-spacing 0.6px
        text-indent 8px

    &__item-address
      display flex
      flex-direction column
      address
        font-size 12px
        &:first-child
          font-family Avenir-Medium
          margin-bottom 5px

        &:last-child
          font-family Avenir-Book

    &__item-info
      margin-top 5px
      display flex
      justify-content space-between
      &__bus
        display flex
        font-size 10px
        line-height 18px
        font-family Avenir-Light
        align-items center
      &__icon
        display flex
        align-items center
        img
          margin-right 4px
          width 17px
          height 17px
      &__bus-icon
        margin-right 4px
        width 17px
        height 17px

    &__item-button
      display flex
      justify-content flex-end
      margin-top 16px
      button
        background #000
        cursor pointer
        width 110px
        height 27px
        border-radius 5px
        font-family Avenir-Heavy
        color #fff
</style>
